@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.initial-presets{
  scroll-behavior: smooth;
  scroll-padding-top: 6.25rem;
}
.cart-btn{
  background: #384857;
  height: 100%;
  width: 4.5rem;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  margin-left: 1.5rem;
  border-radius: 0.4rem;
  padding-left: 0.25rem;
  transition: all 0.3s ease-in-out;
}
.cart-btn i{
  transition: all 0.3s ease-in-out;
}
.cart-link:hover .cart-btn{
  background: #FFCF10;
}
.cart-link:hover .cart-btn i{
  color: #384857;
}
.cart-btn i{
  transform: translateX(0.7rem);
}
.count{
  display: inline-block;
  margin-left: .6rem;
  background: #fff;
  padding: .2rem;
  width: 2.5rem;
  height: 2.2rem;
  margin-top: -0.125rem;
  margin-right: 0;
  transform: translateX(1rem);
  border-radius: 0.4rem;
  color: #000;
}
.home-2{
  background-image: radial-gradient(#ffff 5%, #536474 50%);
}
.add-cart-btn{
  background: #FFCF10;
  padding: 0.6rem 2rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-transform: capitalize;
  font-weight: 600;
}
.top-sales-container{
  grid-template-columns: repeat(auto-fit, minmax(12.75rem, 1fr));
}
.product-image{
  width: 6.25rem;
  height: 6.25rem;
}
.product-image img{
  height: 100%;
  width: 100%;
  transform: scale(0.8);
}
.filter-tags a{
  transition: all .3s ease-in-out;
}
.footer-grid{
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.subscribe-btn{
  background: #68A4FE;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 0.375rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.625rem;
  font-size: 0.625rem;
}
.accordion.active .accordion-content{
  display: block;
}
.accordion .accordion-content{
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
}
.client-reviews-container{
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.payment-methods-container{
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}