@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
.cart-btn{
  background: #384857;
  height: 2rem;
  width: 4.5rem;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  margin-left: 1.5rem;
  border-radius: 0.4rem;
  padding-left: 0.25rem;
  
}
.cart-btn i{
  transform: translateX(0.7rem);
}
.count{
  display: inline-block;
  margin-left: .6rem;
  background: #fff;
  padding: .2rem;
  width: 2.5rem;
  height: 2.2rem;
  margin-top: -0.125rem;
  margin-right: 0;
  transform: translateX(1rem);
  border-radius: 0.4rem;
  color: #000;
}